# Dependencies
node_modules

# Build
dist
dist-ssr
*.local

# Logs
logs
*.log
npm-debug.log*

# Editor
.idea
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo
